/*
Estilos da pagina index.html
*/
.center{
    text-align: center;
}

.container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
      }
#menu li{
    display: inline;
    padding: 15px;
}
#menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#menu li a:hover{
color: gray;
}
.p-30{
    padding: 30px;
}
.br-50{
    border-radius: 50%;
}
.tm-social {
    width: 50px;
    height: 50px;
    padding: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}
.justify{
    text-align: justify;
}
/*
Estilos da pagina contato.html
*/
.ml-50{
    margin-left: 50px;
}